/*Global Variables*/
:root {
    /*Colors*/
    --primary-color: #2C3E50;
    --secondary-color: #E2EEF5;
    --accent1-color: #F0E0D1;
    --accent2-color: #8BE5B0;

    /*Fonts*/
    --heading-font: "Oswald", sans-serif;
    --body-font: "Roboto", sans-serif;
    --base-font-size: 16px;

    /*Spacing*/
    --space-xs: 5px;
    --space-sm: 10px;
    --space-md: 20px;
}

/*Body*/
body {
    font-family: var(--body-font);
    font-size: var(--base-font-size);
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;

}

/*Header + Nav*/
header {
    background-color: var(--primary-color);
    position: sticky;
    /*Stays visible when scrolling*/
    top: 0;
    z-index: 1000;
}

.header-container {
    /*Use Grid to split header: logo (1fr) and menu (3fr)*/
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--space-sm) var(--space-md);
    width: 100%;
    box-sizing: border-box;
}

header img {
    max-width: 100px;
    height: auto;
    /*margin-left: var(--space-md);*/
}

nav.menu {
    /*Allign menu horizontally*/
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

nav.menu a {
    color: var(--primary-color);
    text-decoration: none;
    padding: var(--space-xs) var(--space-sm);
    transition: all 0.3s ease;
    background-color: var(--accent1-color);
    border: 1px solid grey;
    border-radius: var(--space-xs);
    font-weight: 500;
}

nav.menu a:hover {
    /*Hover effect to enhance interactivity*/
    background-color: var(--accent1-color);
    color: var(--primary-color);
    transform: scale(1.2);
    filter: brightness(1.2);
    transition: all 0.3s ease;
}

main {
    max-width: 100%;
    overflow-x: hidden;
}

/*ABOUT US PAGE*/
/*Hero section*/
.hero {
    /*Allows absolute children to position inside*/
    position: relative;
    width: 100%;
    height: 480px;
    overflow: hidden;
}

.hero-content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 1em var(--space-md);
    box-sizing: border-box;
    margin-top: 1em;
}

.hero-content article {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: var(--space-md);
    max-width: 900px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: var(--space-md);
    border-radius: var(--space-xs);
}

.hero-content article img {
    width: 150px;
    border-radius: var(--space-xs);
    flex-shrink: 0;
}

.hero-content article p {
    color: var(--secondary-color);
    font-size: 1.3rem;
    text-align: justify;
    margin: 0;
    flex: 1;
}

/*Full background image*/
.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}


.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: var(--secondary-color);
    background-color: rgba(0, 0, 0, 0.5);
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--space-xs);
    text-align: center;
}



/*Sections: history and gallery*/
section {
    margin: var(--space-md) auto;
    padding: var(--space-md);
    background-color: var(--accent1-color);
    max-width: 1200px;
    box-sizing: border-box;
}

section h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    margin-bottom: var(--space-md);
}

section p {
    color: var(--primary-color);
    text-align: justify;
    margin: 0;
    padding: var(--space-xs) 0 var(--space-md);
}

.history-layout {
    /*Creates a 3 column layout for history section*/
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: var(--space-md);
    align-items: stretch;
}

.history-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-image img {
    max-height: 300px;
    width: auto;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: var(--space-xs);
}

.history-layout p {
    text-align: justify;
}

.history h2 {
    text-align: center;
    margin-bottom: var(--space-md);
}

.gallery-images figcaption {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-style: italic;
    font-weight: 500;
    font-size: 0.9rem;
    padding: var(--space-xs);
    text-align: center;
    border-radius: 0 0 var(--space-xs) var(--space-xs);
}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: var(--space-md);
    padding: var(--space-md) 0;
}

.gallery-images figure {
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: var(--space-xs);
    max-width: 220px;
    margin: auto;
    background-color: var(--secondary-color);
    border-radius: var(--space-xs);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gallery-images img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: var(--space-xs) var(--space-xs) 0 0;
}

.gallery-images img:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

/* HOME PAGE*/
.newsletter-form {
    background-color: var(--accent1-color);
    padding: var(--space-md);
    margin: var(--space-md) auto;
    border-radius: var(--space-xs);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.newsletter-container {
    max-width: 800px;
    margin: auto;
    text-align: left;
}


.newsletter-form h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-bottom: var(--space-md);
    text-align: center;
}

.newsletter-form p {
    color: var(--primary-color);
    margin-bottom: var(--space-md);
    text-align: center;
}


.cta {
    background-color: var(--accent1-color);
    padding: var(--space-md);
    margin: var(--space-md) auto;
    border-radius: var(--space-xs);
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1)
}

.cta-container h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-bottom: var(--space-sm);
}

.cta-container p {
    color: var(--primary-color);
    margin-bottom: var(--space-sm);
    max-width: 800px;
    margin: auto;
    text-align: center;

}

.cta-link {
    display: inline-block;
    padding: var(--space-sm) var(--space-md);
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: var(--space-xs);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.cta-link:hover {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    transform: scale(1.05);
}

.features-section {
    background-color: var(--accent1-color);
    padding: var(--space-md);
    border-radius: var(--space-xs);
    margin-top: var(--space-md);
}

.features-section h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-bottom: var(--space-md);
    text-align: center;
}

.features-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--space-md);
}

.feature-item {
    background-color: var(--secondary-color);
    padding: var(--space-sm);
    border-radius: var(--space-xs);
    text-align: center;
    box-shadow: 0 2px 6px rgba(0 0 0 0.1);
}

.feature-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--space-xs);
    margin-bottom: var(--space-sm);
}

.feature-item h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-bottom: var(--space-xs);
}

.feature-item p {
    color: var(--primary-color);
}


/*TRIPS PAGE*/
.contact-info {
    background-color: var(--accent1-color);
    padding: var(--space-md);
    margin: var(--space-md) auto;
    border: 1px solid var(--primary-color);
    border-radius: var(--space-xs);
    box-shadow: 0 2px 6px rgba(0 0 0 0.1);
}

.contact-info h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    margin-bottom: var(--space-md);

}

.contact-info h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    margin-bottom: var(--space-md);

}

.contact-info p {
    color: var(--primary-color);
    margin-bottom: var(--space-sm);
    text-align: center;
    line-height: 1.5;
}

.map {
    background-color: var(--accent1-color);
    padding: var(--space-md);
    margin: var(--space-md) auto;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.contact-map iframe {
    border: none;
    width: 100%;
    max-width: 1000px;
    height: 400px;
}

.contact-form {
    background-color: var(--accent1-color);
    padding: var(--space-md);
    margin: var(--space-md) auto;
}

/* Employees section*/
.employees-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: var(--space-md);
    padding: var(--space-md) 0;
}

.employees-item figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-xs);
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--space-xs);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    margin: auto;
    max-width: 220px;
    transition: transform 0.3s ease;

}

.employees-item figure:hover {
    transform: scale(1.03);
}

.employees-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: var(--space-xs) var(--space-xs) 0 0;
    margin: 0 auto;
    border: 2px solid rgba(44, 62, 80, 0.1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);


}

.employee-name,
.employee-role {
    display: block;
    text-align: center;

}

.employee-name {
    font-weight: bold;
    font-family: var(--heading-font);
    margin-top: var(--space-sm);
    margin-bottom: 0.2rem;
    color: var(--primary-color);
}

.employee-role {

    font-style: italic;
    font-size: 0.9rem;
    color: var(--primary-color);
}


/* Style form*/
form {
    display: grid;
    gap: var(--space-md);
    max-width: 800px;
    margin: 0 auto;
}

fieldset {
    display: flex;
    justify-content: space-between;
    gap: var(--space-md);
    flex-wrap: wrap;
    border: none;
    padding: 0;
    margin-bottom: var(--space-md);
}

fieldset .form-item {
    flex: 1 1 45%;
}

legend {
    font-family: var(--heading-font);
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-bottom: var(--space-sm);
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    flex: 1 1 45%;
    min-width: 250px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: var(--space-sm);
    font-size: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: var(--space-xs);
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: var(--space-xs);
}

textarea {
    width: 100%;
    max-width: 100%;
    min-height: 150px;
}

.contact-form label {
    font-weight: 500;
    color: var(--primary-color);
}




button[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: var(--space-xs);
    font-family: var(--heading-font);
    font-size: 1rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button[type="submit"]:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

/* CTA Contact*/
.cta-contact {
    background-color: var(--accent1-color);
    padding: var(--space-md);
    margin: var(--space-md) auto;
    text-align: center;
    border-radius: var(--space-xs);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0, 0.08);
}

.cta-contact p {
    text-align: center;
}

/* CTA Button*/
.contact-btn {
    display: inline-block;
    margin-top: var(--space-sm);
    padding: var(--space-sm) var(--space-md);
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: var(--space-xs);
    transition: background-color 0.3s ease transform 0.3 ease;
}

.contact-btn:hover {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    transform: scale(1.05);
}


/* Trip highlights grids*/
.trip-items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--space-md);
    padding: var(--space-md) 0;
}

.trip-item {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--space-xs);
    padding: var(--space-sm);
    text-align: center;
    box-shadow: 0 2px 6px rgba(0 0 0 0.1);
    transition: transform 0.3s ease;
    max-width: 350px;
    margin: auto;
}

.trip-item:hover {
    transform: scale(1.02);
}

.trip-item img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    object-position: center;
    border-radius: var(--space-xs);
    margin-bottom: var(--space-sm);
}

.trip-item h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin: var(--space-sm);
}

.trip-item p {
    font-size: var(--body-font);
    font-size: 1rem;
    color: var(--primary-color);
}

/* Trip Table */
.trip-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: var(--space-md);
}

.trip-table th,
.trip-table td {
    border: 1px solid var(--primary-color);
    padding: var(--space-sm);
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid #ccc;

}

.trip-table th {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.5px;
}



/*Footer*/
footer {
    margin: 0;
    border-top: 2px solid var(--accent2-color);
    background-color: var(--primary-color);
    padding: 0;
    color: var(--accent2-color)
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--space-sm) var(--space-md);
    width: 100%;
    box-sizing: border-box;
}

/* This applies when there's a wireframe */
.footer-left {
    flex: 1;
}

/* Right side: copyright + icons */
.footer-right {
    display: flex;
    align-items: center;
    gap: var(--space-md);
}

/* Footer text */
footer p {
    margin-right: var(--space-sm);

}

/* Social media icons*/
footer .social-links img {
    width: 30px;
    padding: var(--space-sm);
}

footer .social-links img:hover {
    /*Hoover effect for icons*/
    transform: scale(1.2);
    transition: transform 0.3s ease;
    filter: brightness(1.2);
}

/* Wireframe link*/
.wireframe {
    color: var(--accent2-color);
}