:root {
    --primary-color: darkblue;
    --text-light: white;
    --bg-light-gray: #eee;
    --text-dark-gray: #333;
    --border-dark: #000;
    --shadow-gray: gray;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--text-light);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-dark);
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-gray);
}

p {
    /* padding: 10px; */
    padding: 0;
}

main {
    max-width: 800px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid var(--border-dark);
    padding: 1rem;
    background-color: #eee;
    color: var(--text-dark-gray);
    text-align: right;
    /*this allignment is extra*/
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-dark);
    text-align: center;
}